
.app-heading {
  text-align: center;
  width: 100%;
  margin: 20px 0px;
}
.header-div {
  border-bottom: 1px solid #ccc;
}
.app {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 100vh;
}

.customer-list {
  grid-column: span 3; 
  border-right: 1px solid #ccc;
  overflow-y: auto;
 }

.customer-details {
  grid-column: span 9;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
 
}


.customer-list::-webkit-scrollbar {
  width: 4px;
}

.customer-list::-webkit-scrollbar-track {
  background: #fff; 
}

.customer-list::-webkit-scrollbar-thumb {
  background: #000; 
  border-radius: 10px; 
}

.customer-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.customer-card {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.customer-card.selected {
  background-color: #f0f0f0;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
  width: 100%;
  margin-top: 2rem;
  height: fit-content;
}

.photo-grid img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}
